body {
    max-width: 1025px;
    margin: 0 auto;
}

// トップページ
#top {
    padding-top: 150px;

    ul {
        display: flex;
        justify-content: end;

        li {
            color: #d0b8b8;
            font-size: 40px;
            font-weight: bold;
            font-family: 'Dancing Script', cursive;
            padding-left: 25px;
            position: relative;
        }

        li:before {
            content: "";
            position: absolute;
            right: 0;
            bottom: 10px;
            width: 80%;
            height: 3px;
            background: #ac9b9b;
            transform: scale(0, 1);
            transition: 0.4s;
        }

        li:hover:before {
            transform: scale(1);

        }
    }

    .mainvisual {
        .main-title {
            h1 {
                color: #ac9b9b;
                font-size: 120px;
                font-weight: bold;
                font-family: 'Dancing Script', cursive;
                text-align: center;
                text-indent: -5em;
                padding-left: 3em;

            }
        }
    }
}

.headers {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-left {
        img {
            width: 200px;

        }
    }

    .header-right {
        ul {
            display: flex;
            justify-content: space-around;
            font-family: 'Special Elite', cursive;
            font-size: 30px;

            li {
                padding-left: 30px;
            }
        }

    }
}

.header {

    // .inner {
    //     ul {
    //         li {
    //             font-family: 'Special Elite', cursive;
    //             font-size: 30px;
    //             position: relative;
    //         }

    //         li:before {
    //             content: "";
    //             position: absolute;
    //             right: 0;
    //             bottom: 1px;
    //             width: 70%;
    //             height: 2px;
    //             background: black;
    //             transform: scale(0, 1);
    //             transition: 0.4s;
    //         }

    //         li:hover:before {
    //             transform: scale(1);
    //         }
    //     }
    // }

}

// ここからabout
.aboutpro {
    display: flex;
}

.aboutme {
    .myselfed {
        display: flex;
        padding-bottom: 10px;
    }

}

.profile {
    display: flex;
    justify-content: center;

}

.pic {
    margin-right: 150px;
    max-width: 300px;

    img {
        width: 100%;
        height: auto;
        border-radius: 15px;
    }
}

.myself {
    padding-bottom: 5px;

    .myselfed {
        text-align: center;
    }
}

h2 {
    max-width: 500px;
    font-family: 'Special Elite', cursive;
    font-size: 30px;
    position: relative;
}

h2:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 8%;
    height: 2px;
    background: black;
}

.skills {
    padding-bottom: 15px;
}

.skill {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .skilled {
        display: flex;
        justify-content: space-between;

        p {
            padding-right: 10px;
        }
    }
}

.work {

    .worked {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        a{
            flex-basis: 32%;
        }
        img {
            width: 100%;
            height: 200px;
            margin-bottom: 15px;

        }
    }
}


.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog>div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    // background: -moz-linear-gradient(#fff, #999);
    // background: -webkit-linear-gradient(#fff, #999);
    // background: -o-linear-gradient(#fff, #999);
    background: white;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}

.contact {
    form {
        width: 500px;

        input,
        textarea {
            width: 100%;
            display: block;
            margin: 10px 0;
            border: 1px solid black;
            border-radius: 10px;
            padding: 5px;
        }

        .submitBtn {
            width: 150px;
            text-align: center;
            // margin: 0 auto;
        }
    }


}

footer {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: gray;
}