@charset "UTF-8";
body {
  max-width: 1150px;
  margin: 0 auto;
}

#top {
  padding-top: 150px;
}
#top ul {
  display: flex;
  justify-content: end;
}
#top ul li {
  color: #d0b8b8;
  font-size: 40px;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
  padding-left: 25px;
  position: relative;
}
#top ul li:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 80%;
  height: 3px;
  background: #ac9b9b;
  transform: scale(0, 1);
  transition: 0.4s;
}
#top ul li:hover:before {
  transform: scale(1);
}
#top .mainvisual .main-title h1 {
  color: #ac9b9b;
  font-size: 120px;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
  text-align: center;
  text-indent: -5em;
  padding-left: 3em;
}

.headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headers .header-left img {
  width: 175px;
}
.headers .header-right ul {
  display: flex;
  justify-content: space-around;
  font-family: "Special Elite", cursive;
  list-style: none;
  border-radius: 25px;
}
.headers .header-right ul li {
  padding-left: 30px;
  margin: auto;
  font-size: 30px;
  cursor: pointer;
}
.headers .header-right ul li::after {
  display: block;
  content: "";
  border-bottom: solid 2px black;
  transform: scaleX(0);
  transition: transform 180ms ease-in-out;
}
.headers .header-right ul li:hover::after {
  transform: scaleX(1);
}

.aboutpro {
  display: flex;
}

.aboutme {
  width: 60%;
}
.aboutme .myselfed {
  display: flex;
  padding-bottom: 10px;
}

.pic {
  margin-right: 150px;
  max-width: 300px;
}
.pic img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.myself {
  padding-bottom: 5px;
}
.myself .ex {
  margin-left: 50px;
}

.pr {
  margin-bottom: 100px;
}

h2 {
  max-width: 500px;
  font-family: "Special Elite", cursive;
  font-size: 30px;
  position: relative;
}

h2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 8%;
  height: 2px;
  background: black;
}

.skills {
  padding-bottom: 15px;
}

.skill {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skill .skilled p {
  padding-right: 10px;
}

.work .worked {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.work .worked .modal {
  flex-basis: 32%;
}
.work .worked .modal h3 {
  text-align: center;
}
.work .worked .modal h4 {
  font-size: 18px;
  color: #606061;
  font-weight: bold;
}
.work .worked .modal h5 {
  font-size: 18px;
  color: #606061;
  font-weight: bold;
}
.work .worked .modal p {
  font-size: 14px;
  color: #606061;
}
.work .worked img {
  width: 100%;
  height: 195px;
  transition: transform 0.6s ease;
  /* ゆっくり変化させる */
  border: 1px solid gray;
  margin: 10px 0;
}
.work .worked .modal:hover img {
  transform: scale(1.1);
  /* 拡大 */
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(147, 126, 126, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog a {
  font-weight: bold;
  font-size: 13px;
  border-bottom: 1.5px solid black;
}
.modalDialog a:hover {
  opacity: 0.5;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: white;
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #00d9ff;
}

.contact form {
  width: 500px;
}
.contact form input,
.contact form textarea {
  width: 100%;
  display: block;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  transition: transform 0.6s ease;
}
.contact form .submitBtn {
  width: 150px;
  text-align: center;
}
.contact form .submitBtn:hover {
  transform: scale(1.1);
  background: rgb(200, 200, 200);
  border-radius: 10px;
  box-shadow: 0 0 5px black;
}

footer {
  text-align: center;
  font-family: "Dancing Script", cursive;
  color: gray;
}

.btn {
  display: none;
}

@media screen and (max-width: 767px) {
  #top {
    padding-top: 100px;
  }
  #top ul {
    justify-content: center;
  }
  #top .mainvisual .main-title h1 {
    text-indent: 0;
    padding-left: 0;
  }
  .headers {
    display: block;
    margin-bottom: 50px;
  }
  .headers .header-left {
    text-align: center;
  }
  .headers .header-right ul {
    justify-content: center;
  }
  #about {
    width: 80%;
    margin: 0 auto;
  }
  .aboutpro {
    display: block;
  }
  .aboutpro .pic {
    margin-right: 0px;
    margin: 0 auto;
  }
  .aboutpro .aboutme {
    width: 80%;
    margin: 0 auto;
  }
  .aboutpro .myself,
.aboutpro .aboutpr {
    margin-top: 50px;
  }
  .aboutpro .ex {
    width: 62%;
  }
  #works {
    width: 80%;
    margin: 0 auto;
  }
  #works .worked {
    display: block;
  }
  #works .worked img {
    height: auto;
  }
  #works .modal {
    margin-bottom: 50px;
  }
  .contact {
    width: 65%;
    margin: 0 auto;
  }
  #page-top {
    width: 90px;
    height: 90px;
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 0.6;
  }
  #page-top a {
    position: relative;
    display: block;
    width: 90px;
    height: 90px;
    text-decoration: none;
  }
  #page-top::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f102";
    font-size: 25px;
    color: #f7b9f1;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -40px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
  #page-top::after {
    content: "PAGE TOP";
    font-size: 13px;
    color: #fff;
    position: absolute;
    top: 45px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    color: #f7b9f1;
  }
  :root {
    --bgcolor: #f9c4f4;
    --color: #594A3C;
  }
  .btn {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  .left-btn {
    width: 150px;
    height: 50px;
    text-align: center;
    color: var(--color);
    background-color: var(--bgcolor);
    box-shadow: var(--color) 4px 4px 0px;
    border-radius: 8px;
    cursor: pointer;
  }
  .left-btn:active {
    transform: translate(4px, 4px);
    box-shadow: var(--color) 0px 0px 0px;
  }
  .right-btn {
    width: 150px;
    height: 50px;
    text-align: center;
    color: var(--color);
    background-color: var(--bgcolor);
    box-shadow: var(--color) 4px 4px 0px;
    border-radius: 8px;
    cursor: pointer;
  }
  .right-btn:active {
    transform: translate(4px, 4px);
    box-shadow: var(--color) 0px 0px 0px;
  }
}
@media screen and (max-width: 480px) {
  #top ul li:before {
    background: #fff;
  }
  #top .mainvisual .main-title h1 {
    font-size: 70px;
    margin-top: 100px;
  }
  #about {
    width: 100%;
  }
  #about .pic {
    text-align: center;
  }
  #about h2 {
    text-align: center;
    font-size: 43px;
  }
  #about h2:before {
    height: 0;
  }
  #about .aboutme {
    width: 90%;
  }
  #about .myselfed {
    display: block;
    text-align: left;
    width: 90%;
    margin: 0 auto;
  }
  #about .myselfed .ex {
    margin-left: 0;
    width: 100%;
  }
  #works h2 {
    text-align: center;
    font-size: 43px;
  }
  #works h2:before {
    height: 0;
  }
  .contact {
    margin-bottom: 50px;
    width: 62%;
  }
  .contact h2 {
    text-align: center;
    font-size: 43px;
  }
  .contact h2:before {
    height: 0;
  }
  .contact form {
    width: 250px;
  }
  .contact form input,
.contact form textarea {
    width: 120%;
  }
  #top {
    padding-top: 50px;
  }
  .hamburger {
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: relative;
    z-index: 999;
  }
  .hamburger span {
    display: block;
    width: 50%;
    height: 2px;
    background-color: gray;
    position: absolute;
    top: -100%;
    right: -600%;
    transform: translate(-50%, -50%);
  }
  .hamburger span:nth-child(1) {
    top: 20px;
  }
  .hamburger span:nth-child(2) {
    top: 30px;
  }
  .hamburger span:nth-child(3) {
    top: 40px;
  }
  #nav-list {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding: 10rem 4rem 4rem;
    position: fixed;
    top: 0;
    right: -100%;
    transition: all 0.5s;
    z-index: 99;
  }
  #nav-list ul {
    display: block;
    list-style: none;
  }
  #nav-list ul li {
    position: relative;
    margin: 0;
    border-bottom: 2px solid #333;
    color: #000;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #nav-list.is-active {
    right: 0;
  }
  .hamburger.is-active span:nth-child(1) {
    top: 22px;
    right: -265px;
    transform: translateY(6px) rotate(-45deg);
    width: 50%;
  }
  .hamburger.is-active span:nth-child(2) {
    display: none;
  }
  .hamburger.is-active span:nth-child(3) {
    top: 34px;
    right: -265px;
    transform: translateY(-6px) rotate(45deg);
    width: 50%;
  }
  .headers {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .headers .header-right {
    position: absolute;
    top: 10%;
    right: 83%;
  }
  .modalDialog > div {
    width: 250px;
  }
  #page-top {
    bottom: 90px;
  }
  .headers .header-right ul li::after {
    border-bottom: solid 2px #fff;
  }
}/*# sourceMappingURL=style.css.map */